page-post-detail {
  .view{
      background-color:#fff;
  }
  .count{
      font-size: 10px;
  }
  .icon{
      color: rgb(28, 95, 22);
  }
  .in{
      font-size: 12px;
      font-weight: 200;
  }
  .pgtitle{
      font-size: 12px;
  }
}
